* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
input,
button {
  font-family: "Open Sans", sans-serif;
}

body {
  background-image: url(assets/image/Backround.png);
  background-position: 60%;
}

input,
button {
  font-size: 16px;
}

.head_bar {
  padding-left: 20px;
  font-size: 15px;
  display: flex;
  background-color: rgb(36, 36, 36);
  color: white;
}

.head_bar h1 {
  font-size: 28px;
  color: rgb(255, 255, 255);
  padding-top: 13px;
  padding-left: 10px;
}
main {
  max-width: 800px;
  width: 80%;
  margin: 0 auto;
  padding: 16px;
}

.input_section {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
}

.input_section > h2 {
  text-align: center;
  color: rgb(255, 255, 255);
}

.input_section > form > .input {
  margin: 8px 0;
}

.input_section > form > button {
  background-color: rgb(0, 102, 255);
  color: white;
  border: 0;
  border-radius: 8px;
  display: block;
  width: 100%;
  padding: 8px;
  cursor: pointer;
}

.search_section button {
  background-color: rgb(0, 102, 255);
  border-radius: 8px;
  width: 200%;
  padding: 3px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.input_section > form > button > span {
  font-weight: bold;
}

.input_section > form > .input > input {
  display: block;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
}

.input_section > form > .input > label {
  color: rgb(224, 224, 224);
  font-weight: bold;
}

.input_section > form > .input_inline {
  margin: 12px 0;
  display: flex;
  align-items: center;
}

.input_section > form > .input_inline > label {
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-right: 10px;
}

.search_section {
  margin-left: auto;
  padding-right: 40px;
  justify-content: right;
}

.search_section label {
  font-weight: 600;
  font-size: 16px;
}

.search_section > h2 {
  color: rgb(0, 0, 0);
}

.search_section > form {
  padding: 16px;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr 0.5fr;
  grid-gap: 10px;
}

.search_section > form > label {
  display: flex;
  align-items: center;
}

.search_section > form > input {
  padding: 5px;
  border-radius: 5px;
}

.search_section > form > button {
  background-color: rgb(0, 102, 255);
  color: rgb(255, 255, 255);
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.book_shelf {
  margin: 16px 0 0 0;
  border: 1px solid rgb(190, 190, 190);
  padding: 16px;
  border-radius: 10px;
}

.book_shelf > h2 {
  color: rgb(255, 255, 255);
}

.book_shelf > .book_list {
  padding: 16px;
}

.book_shelf > .book_list > .book_item {
  padding: 8px 16px 16px 16px;

  border-radius: 5px;
  margin: 10px 0;
}

.book_shelf > .book_list > .book_item > h3,
p {
  margin: 8px 0;
  color: white;
}

.book_shelf > .book_list > .book_item > .action > button {
  border: 0;
  padding: 5px;
  margin: 0 5px 0 0;
  border-radius: 5px;
  cursor: pointer;
}

.book_shelf > .book_list > .book_item > .action > .blue {
  background-color: rgb(0, 102, 255);
  color: rgb(255, 255, 255);
}

.book_shelf > .book_list > .book_item > .action > .red {
  background-color: rgb(204, 0, 0);
  color: rgb(255, 255, 255);
}

/* Styles for mobile */
@media screen and (max-width: 490px) {
  .container {
    width: 95%;
  }
  .head_bar h1 {
    font-size: 30px;
  }

  .search_section {
    size: 10px;
  }
  main {
    padding: 10px;
  }
  .input_section,
  .book_shelf {
    padding: 10px;
  }
  .input_section > form > .input > label,
  .input_section > form > .input_inline > label,
  .search_section label,
  .search_section > h2,
  .book_shelf > .book_list > .book_item > h3,
  .book_shelf > .book_list > .book_item > p {
    font-size: 14px;
  }
  .input_section > form > .input > input,
  .search_section > form > input {
    padding: 5px;
    font-size: 14px;
  }
  .search_section > form > button {
    padding: 5px 10px;
  }
  .book_shelf > .book_list > .book_item {
    padding: 8px; /* Mengurangi padding untuk item buku agar lebih sesuai dengan layar mobile */
  }
  footer {
    padding: 5px 0; /* Mengurangi padding footer agar lebih sesuai dengan layar mobile */
  }
}

footer {
  text-align: center;
  background-color: rgba(26, 26, 26, 0.26);
  color: rgb(255, 255, 255);
  font-size: 15px;
  padding-bottom: 10px;
}

footer p {
  font-size: 15px;
  padding-top: 15px;
}
